.ath{
    color: cadetblue;
}

.bolinho{
    color: brown;
}
.bolinho2{
    color: rgb(255, 0, 242);
}

.dicas{
    color: chocolate;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 24px;
}



































































































































































